@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: calc(100%);
        }
    }

    @keyframes blink-caret {
        from,
        to {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    .typing-animation {
        overflow: hidden;
        white-space: nowrap;
        animation: typing 3s steps(60) 0s forwards;
    }

    .typing-animation::after {
        content: " |";
        animation: blink-caret 1s step-end 2.75s infinite normal;
    }

}
